/* CSS Reset  */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* CSS Variable  */
:root{
    --navbar-height:59px;
}
/* Navigation Bar  */
#navbar{
    display: flex;
    align-items: center;
}
/* Navigation Bar: logo and images  */
#logo{
    margin: 12px 22px;
}
#logo img{
    height: 45px;
    margin: 6px 9px;
}

#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%; 
    z-index: -1;
    opacity: 0.4;
}

/* Navigation Bar: Listing style  */
#navbar ul{
    display: flex;
    font-family:sans-serif;
  
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 21px ;
    border-radius: 20px;
    text-decoration: none;
    
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
  
    
}
/* Home Section  */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 515px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
    background: url('vegetable-1.jpg') no-repeat center center/cover ;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 615px;
    width: 100%; 
    z-index: -1;
    opacity: 0.8;
}
#home h1{
    color: white;
    font-size: 3rem;
    text-align: center;
    font-family:sans-serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.8rem;
    font-family:sans-serif;
}
/* service section  */
#service{
    margin: 34px;
    display: flex;
}
#service .box {
    border: 2px solid brown;
    padding: 34px;
    margin: 4px 6px;
    border-radius: 28px;
    background-color: rgb(233, 214, 214);
}
#service .box img{
    height: 160px;
    display: block;
    margin: auto;
}
#service .box p{
 font-family:'Lucida Sans', sans-serif;
}
/* client section  */
#client-section{
/* height: 334px; */
position: relative;
}
#client-section::before{
    content: "";
    position: absolute;
    background: url('vegetable-image.jpg') ;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 34px;
}
#clients img{
  height: 124px;
}
/* contact section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    background: url('online-booking.jpg') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.4rem;
    border-radius: 8px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
    font-family: sans-serif;
}
footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
}
/* utility Classes  */
.h-primary{
    font-size: 3.8rem;
    padding: 20px;
}
.h-secodary{
    font-size: 2.8rem;
    padding: 20px;
}
.btn{
    padding: 3px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.7rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}